<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="main_div"></div>
        <div id="container_div">
            <mat-icon class="location_icon">room</mat-icon><br/>
            <mat-icon class="location_icon">room</mat-icon><br/>
            <mat-icon class="location_icon">room</mat-icon><br/>
            <mat-icon class="location_icon">room</mat-icon><br/>
            <mat-icon class="location_icon">room</mat-icon><br/>
        </div>
    </body>
</html>