<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="main_div"></div>
        <h1 id="heading">Locations</h1>
        <div id="container_div"></div>
        <div id="icons">
            <mat-icon class="location_icon">room</mat-icon><br/><br/>
            <mat-icon class="location_icon">room</mat-icon><br/><br/>
            <mat-icon class="location_icon">room</mat-icon><br/><br/>
            <mat-icon class="location_icon">room</mat-icon><br/><br/>
            <mat-icon class="location_icon">room</mat-icon><br/><br/>
        </div>
        <div id="form">
            <input #sensor1 class="form_input" placeholder="Location for sensor 1, Country" type="text"><br/><br/><br/><br/>
            <input #sensor2 class="form_input" placeholder="Location for sensor 2, Country" type="text"><br/><br/><br/><br/>
            <input #sensor3 class="form_input" placeholder="Location for sensor 3, Country" type="text"><br/><br/><br/><br/>
            <input #sensor4 class="form_input" placeholder="Location for sensor 4, Country" type="text"><br/><br/><br/><br/>
            <input #sensor5 class="form_input" placeholder="Location for sensor 5, Country" type="text"><br/><br/><br/><br/>
        </div>
        <div id="start">
            <label class="container"><input type="radio" #start1 name="radio"><span class="checkmark"></span></label><br/><br/><br/><br/>
            <label class="container"><input type="radio" #start2 name="radio"><span class="checkmark"></span></label><br/><br/><br/><br/>
            <label class="container"><input type="radio" #start3 name="radio"><span class="checkmark"></span></label><br/><br/><br/><br/>
            <label class="container"><input type="radio" #start4 name="radio"><span class="checkmark"></span></label><br/><br/><br/><br/>
            <label class="container"><input type="radio" #start5 name="radio"><span class="checkmark"></span></label><br/><br/><br/><br/>
        </div>
        <button (click) = "getFormInfo()" id="submit_button">Go</button>
    </body>
</html>