<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<video id="video"></video>
<canvas id="canvas"></canvas>

<!-- <canvas #small_image id="small_image"></canvas> -->

<button (click) = "returnHome()" id="home_button">Home</button>

<div #circle1 id="circles_div_1"><button id="circle1" class="cirlces"></button></div><br/>
<div #circle2 id="circles_div_2"><button id="circle2" class="cirlces"></button><br/>
<div #circle3 id="circles_div_3"><button id="circle3" class="cirlces"></button><br/>
<div #circle4 id="circles_div_4"><button id="circle4" class="cirlces"></button><br/>
<div #circle5 id="circles_div_5"><button id="circle5" class="cirlces"></button><br/>
<div #circle6 id="circles_div_6"><button id="circle6" class="cirlces"></button><br/>
<div #circle7 id="circles_div_7"><button id="circle7" class="cirlces"></button><br/>
<div #circle8 id="circles_div_8"><button id="circle8" class="cirlces"></button><br/>
<div #circle9 id="circles_div_9"><button id="circle9" class="cirlces"></button><br/>
<div #circle10 id="circles_div_10"><button id="circle10" class="cirlces"></button><br/>

<mat-icon id="icon1" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon2" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon3" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon4" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon5" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon6" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon7" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon8" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon9" class="location_icon">room</mat-icon><br/><br/>
<mat-icon id="icon10" class="location_icon">room</mat-icon><br/><br/>

<div #p1_div id="p1_div"><p #p1 id="p1">Location</p></div>
<div #p2_div id="p2_div"><p #p2 id="p2">Location</p></div>
<div #p3_div id="p3_div"><p #p3 id="p3">Location</p></div>
<div #p4_div id="p4_div"><p #p4 id="p4">Location</p></div>
<div #p5_div id="p5_div"><p #p5 id="p5">Location</p></div>
<div #p6_div id="p6_div"><p #p6 id="p6">Location</p></div>
<div #p7_div id="p7_div"><p #p7 id="p7">Location</p></div>
<div #p8_div id="p8_div"><p #p8 id="p8">Location</p></div>
<div #p9_div id="p9_div"><p #p9 id="p9">Location</p></div>
<div #p10_div id="p10_div"><p #p10 id="p10">Location</p></div>