#home_button{
    position: fixed;
    top: 6%;
    right: 9%;
    width: 8%;
    padding: 10px;
    color: white;
    background-color: #ff4500;
    border: none;
    border-radius: 12px;
    font-size: 25px;
    text-align: center;
}

#home_button:hover{
    box-shadow: 5px 5px #d9d9d9;
    font-size: 28px;
}

#small_image{
    background-color: #f2f2f2;
    position: fixed;
    top: 20%;
    left: 75.5%;
    height: 65%;
    width: 23%;
}

.cirlces{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #ff4500;
    margin-bottom: 20px;
    position: fixed;
}

#circle1{
    top: 20%;
    left: 76%;
}

#icon1{
    position: fixed;
    top: 16.3%;
    left: 76.7%;
    z-index: 1;
    display: block;
}

#circle2{
    top: 28%;
    left: 76%;
}

#icon2{
    position: fixed;
    top: 24.3%;
    left: 76.75%;
}

#circle3{
    top: 36%;
    left: 76%;
}

#icon3{
    position: fixed;
    top: 32.3%;
    left: 76.75%;
}

#circle4{
    top: 44%;
    left: 76%;
}

#icon4{
    position: fixed;
    top: 40.3%;
    left: 76.75%;
}

#circle5{
    top: 52%;
    left: 76%;
}

#icon5{
    position: fixed;
    top: 48.3%;
    left: 76.75%;
}

#circle6{
    top: 60%;
    left: 76%;
}

#icon6{
    position: fixed;
    top: 56.3%;
    left: 76.75%;
}

#circle7{
    top: 68%;
    left: 76%;
}

#icon7{
    position: fixed;
    top: 64.4%;
    left: 76.75%;
}

#circle8{
    top: 76%;
    left: 76%;
}

#icon8{
    position: fixed;
    top: 72.3%;
    left: 76.75%;
}

#circle9{
    top: 84%;
    left: 76%;
}

#icon9{
    position: fixed;
    top: 80.3%;
    left: 76.76%;
}

#circle10{
    top: 92%;
    left: 76%;
}

#icon10{
    position: fixed;
    top: 88.3%;
    left: 76.05%;
}

.location_number{
    color: white;
    font-size: 45px;
}

p{
    color: black;
    font-family: Arial;
    font-size: 30px;
    position: fixed;
}

#p1_div{
    position: fixed;
    top: 18%;
    left: 80%;
}

#p2_div{
    position: fixed;
    top: 26%;
    left: 80%;
}

#p3_div{
    position: fixed;
    top: 34%;
    left: 80%;
}

#p4_div{
    position: fixed;
    top: 42%;
    left: 80%;
}

#p5_div{
    position: fixed;
    top: 50%;
    left: 80%;
}

#p6_div{
    position: fixed;
    top: 58%;
    left: 80%;
}

#p7_div{
    position: fixed;
    top: 66%;
    left: 80%;
}

#p8_div{
    position: fixed;
    top: 74%;
    left: 80%;
}

#p9_div{
    position: fixed;
    top: 82%;
    left: 80%;
}

#p10_div{
    position: fixed;
    top: 90%;
    left: 80%;
}

#circles_div_1, #circles_div_2, #circles_div_3, #circles_div_4, #circles_div_5, #circles_div_6,
#circles_div_7, #circles_div_8, #circles_div_9, #circles_div_10{
    display: none;
}

#p1_div, #p2_div, #p3_div, #p4_div, #p5_div, #p6_div, #p7_div, #p8_div, #p9_div, #p10_div{
    display: none;
}